VetCore.Anmv.Utils/Xsd/amm-vet-fr-v3-v.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!-- Root element -->
    <xs:element name="medicinal-product-group">
        <xs:annotation>
            <xs:documentation>Médicaments vétérinaires autorisés en France</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Informations" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="date-jeu-de-donnees" type="xs:dateTime"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="medicinal-product" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="src-id" type="xs:integer"/>
                            <xs:element name="nom" type="xs:string"/>
                            <xs:element name="num" type="xs:string"/>
                            <xs:element name="term-tit" type="nonNegativeIntegerType"/>
                            <xs:element name="term-nat" type="nonNegativeIntegerType"/>
                            <xs:element name="term-typ-proc" type="nonNegativeIntegerType"/>
                            <xs:element name="term-stat-auto" type="nonNegativeIntegerType"/>
                            <xs:element name="date-amm" type="xs:date"/>
                            <xs:element name="term-fp" type="nonNegativeIntegerType"/>
                            <xs:element name="num-amm" type="xs:string"/>
                            <xs:element name="perm-id" type="xs:string"/>
                            <xs:element name="prod-id" type="xs:string"/>
                            <xs:element name="maj-rcp" type="xs:date"/>
                            <xs:element name="lien-rcp" type="xs:anyURI"/>
                            <xs:element name="composition" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="compo" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="sa" minOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="term-sa" type="nonNegativeIntegerType" minOccurs="1"/>
                                                                <xs:element name="quantite" type="xs:string" minOccurs="1"/>
                                                                <xs:element name="term-unite" type="nonNegativeIntegerType" minOccurs="1"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="fraction" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="term-sa" type="nonNegativeIntegerType" minOccurs="1"/>
                                                                <xs:element name="quantite" type="xs:string" minOccurs="1"/>
                                                                <xs:element name="term-unite" type="nonNegativeIntegerType" minOccurs="1"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="voie-administration" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="voie-admin" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="term-va" type="nonNegativeIntegerType" minOccurs="1"/>
                                                    <xs:element name="term-esp" type="nonNegativeIntegerType" minOccurs="1"/>
                                                    <xs:element name="term-denr" type="nonNegativeIntegerType" minOccurs="1"/>
                                                    <xs:element name="qte-ta" type="xs:string" minOccurs="0"/>
                                                    <xs:element name="term-unite" type="nonNegativeIntegerType" minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="modele-destine-vente" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="mod-vte" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="lib-mod" type="xs:string" minOccurs="1"/>
                                                    <xs:element name="nb-unit" type="nonNegativeIntegerType" minOccurs="1"/>
                                                    <xs:element name="term-pres" type="nonNegativeIntegerType" minOccurs="1"/>
                                                    <xs:element name="term-cd" type="nonNegativeIntegerType" minOccurs="1"/>
                                                    <xs:element name="lib-condp" type="xs:string" minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="mdv-codes-gtin" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="mod-vte" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="lib-mod" type="xs:string" minOccurs="1"/>
                                                    <xs:element name="pack-id" type="xs:string" minOccurs="1"/>
                                                    <xs:element name="code-gtin" type="xs:string" minOccurs="0"/>
                                                    <xs:element name="num-amm" type="xs:string" minOccurs="1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="excipient-qsp" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="qte-qsp" type="xs:decimal"  minOccurs="1"/>
                                        <xs:element name="term-pres" type="nonNegativeIntegerType" minOccurs="0"/>
                                        <xs:element name="term-unite" type="xs:string" minOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="atcvet-code" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="code-atcvet" type="xs:string"  minOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="paragraphes-rcp" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="para-rcp" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="term-titre" type="nonNegativeIntegerType" minOccurs="1"/>
                                                    <xs:element name="contenu" type="xs:string" minOccurs="1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Custom type for non-negative integers -->
    <xs:simpleType name="nonNegativeIntegerType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
